<!doctype html>
<title>{% block title %}{% endblock %} - Dancify</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Dancify</h1>
  <ul>
    {% if g.user %}
      {% if g.user['images'] %}
        <li><span><img src="{{ g.user['images'][0]['url'] }}" alt="{{ g.user['display_name'] }}" height="50" width="50">
      {% else %}
	<li><span><img src="/static/images/user.jpg" alt="{{ g.user['display_name'] }}" height="50" width="50">
      {% endif %}
      {{ g.user['display_name'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
      <li><a href="{{ url_for('collections.playlists') }}">Playlists</a>
      <li><a href="{{ url_for('collections.library', page=1) }}">Library</a>
      <li><a href="{{ url_for('preferences.collections') }}">Preferences</a>
    {% else %}
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
