<!doctype html>
<title>Dancify</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <div id="navigation">    
    {% if g.user %}
      <span>{{ g.user['display_name'] }}
      {% if g.user['images'] %}
        <img src="{{ g.user['images'][0]['url'] }}" alt="{{ g.user['display_name'] }}" height="50" width="50">
      {% else %}
	<img src="/static/images/user.jpg" alt="{{ g.user['display_name'] }}" height="50" width="50">
      {% endif %}
	</span>
      <br>
      <a href="{{ url_for('auth.logout') }}">Log Out</a>
      <a href="{{ url_for('collections.playlists') }}">Playlists</a>
      <a href="/viz/library">Library</a>
      <a href="{{ url_for('preferences.collections') }}">Preferences</a>
    {% else %}
      <a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </div>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
