{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Preferences{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    {% for feat in track_features %}
    {% if feat in g.preferences['collections']['columns'] %}
    <label><input type="checkbox" name="columns" value="{{ feat }}" checked>{{ feat }}</label>
    {% else %}
    <label><input type="checkbox" name="columns" value="{{ feat }}">{{ feat }}</label>
    {% endif %}
    {% endfor %}
    <input type="submit" value="Save">
  </form>
{% endblock %}
